extends layout

block content
  doctype html
  html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Be You Yoga Glasgow
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/one-page-wonder.min.css', rel='stylesheet')
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
      .container
        a.navbar-brand(href='#')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='#') Ask a Question
    header.masthead.text-center.text-white
      .masthead-content
        .container
          h1.masthead-heading.mb-0 Be You Yoga Glasgow
      .bg-circle-1.bg-circle
      .bg-circle-2.bg-circle
      .bg-circle-3.bg-circle
      .bg-circle-4.bg-circle
    section
      .container
        .row.align-items-center
          .col-lg-6.order-lg-1
            .p-5
              h2.display-4 Do you have have a question?
              p
                | This is the place to ask questions.
    // Footer
    footer.py-5.bg-black
      .container
        p.m-0.text-center.text-white.small Copyright © Your Website 2019
      // /.container
      // Bootstrap core JavaScript
      script(src='/vendor/jquery/jquery.min.js')
      script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
